name: NuGet package

on:
  check_suite:
    types: completed
  push:
    branches:
      - master

jobs:
  publish:
    name: push on nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100

      - name: publish on nuget
        run: |
          dotnet pack --configuration Release
          dotnet nuget push MqttTopicBuilder/bin/Release/MqttTopicBuilder.2.2.0.nupkg -k ${{ secrets.NugetApiKey }} -s https://api.nuget.org/v3/index.json
